<!DOCTYPE html>
<html lang="en">
<head>

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs-3.3.7/dt-1.10.15/datatables.min.css"/>
 
<script type="text/javascript" src="https://cdn.datatables.net/v/bs-3.3.7/dt-1.10.15/datatables.min.js"></script>

<script type="text/javascript" src="https://cdn.datatables.net/r/bs-3.3.5/jqc-1.11.3,dt-1.10.8/datatables.min.js"></script>
 
<!-- <script type="text/javascript" src="https://cdn.datatables.net/v/bs-3.3.7/dt-1.10.15/datatables.min.js"></script> -->
</head>

<body>

<div class="container col-sm-12">

<div id="example_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
      <table id="example" class="table table-striped table-bordered dataTable no-footer" cellspacing="0" width="100%" role="grid" aria-describedby="example_info" style="width: 100%;">
      </table>
    </div>
    <div class="container col-sm-6">
          <table id="example2" class="table table-striped table-bordered dataTable no-footer" cellspacing="0" width="100%" role="grid" aria-describedby="example_info" style="width: 100%;">
          </table>
    </div>

    <div class="container col-sm-6">
          <table id="example3" class="table table-striped table-bordered dataTable no-footer" cellspacing="0" width="100%" role="grid" aria-describedby="example_info" style="width: 100%;">
          </table>
    </div>

    <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
  <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script> 

  <script>

var dataSet = {{csv|safe}};
var secdataSet = {{seccsv|safe}};
  

        console.log(dataSet);

        console.log(dataSet[1].analyst);

        console.log(secdataSet);

        function LINKFunc(data, type, row, meta){
                    if(type === 'display'){
                      return '<a href="'+ row["summary_offices"]+'">'+data+'</a>';
                    } else {
                      console.log("missing");
                      return 0
                    };
                  };


        $(document).ready(function(){
        $('#example').DataTable( {
            "data": dataSet,
            "columns": [
                { "data": "iat_id",
                  "render": LINKFunc, //function (site, type, row, meta){
                  "title": "IAT ID"
                },
                {"data": "iat_name", title: "IAT NAME"},
                {"data": "analyst", title: "ANALYST"},
                {"data": "create_dt", title: "CREATED"},
                {"data": "summary_offices", title: "Summary Offices"}
            ],
            // "dom": '<"top"i>rt<"bottom"flp><"clear">'
            "lengthChange": false,
            "pageLength": 27,

            "dom": "<'row'<'col-sm-6'l><'col-sm-6'f>>" + "<'row'<'col-sm-12'tr>>" + "<'row'<'col-sm-5'i><'col-sm-7'p>>"
} );
// });

         $('#example2').DataTable( {
            "data": secdataSet,
            "columns": [
                { "data": "iat_id",
                  "render": LINKFunc, //function (site, type, row, meta){
                  //   var dates = dataSet[0][0];
                  //   // console.log(dataSet);
                  //   if(type === 'display'){
                  //     final = '<a href="'+ dates+'">'+site+'</a>';
                  //   }
                  //   return final;
                  //LINKFunc(),//MAKE THIS FUNCTION OUTSIDE OF DATATABLES,
                  "title": "IAT ID"
                },
                {"data": "iat_name", title: "IAT NAME"},
                {"data": "analyst", title: "ANALYST"},
                {"data": "create_dt", title: "CREATED"},
                {"data": "summary_offices", title: "Summary Offices"}
            ],
            // "dom": '<"top"i>rt<"bottom"flp><"clear">'
            // "lengthChange": false,
            "pageLength": 27,

            "dom": /*"<'row'<'col-sm-6'l><'col-sm-6'f>>" +*/ "<'row'<'col-sm-12'tr>>" + "<'row'<'col-sm-5'i><'col-sm-7'p>>"
} );
         $('#example3').DataTable( {
            "data": secdataSet,
            "columns": [
                { "data": "iat_id",
                  "render": LINKFunc, //function (site, type, row, meta){
                  //   var dates = dataSet[0][0];
                  //   // console.log(dataSet);
                  //   if(type === 'display'){
                  //     final = '<a href="'+ dates+'">'+site+'</a>';
                  //   }
                  //   return final;
                  //LINKFunc(),//MAKE THIS FUNCTION OUTSIDE OF DATATABLES,
                  "title": "IAT ID"
                },
                {"data": "iat_name", title: "IAT NAME"},
                {"data": "analyst", title: "ANALYST"},
                {"data": "create_dt", title: "CREATED"},
                {"data": "summary_offices", title: "Summary Offices"}
            ],
            // "dom": '<"top"i>rt<"bottom"flp><"clear">'
            "lengthChange": false,
            "pageLength": 27,

            "dom": /*"<'row'<'col-sm-6'l><'col-sm-6'f>>" +*/ "<'row'<'col-sm-12'tr>>" + "<'row'<'col-sm-5'i><'col-sm-7'p>>"
} );
});




//     $(document).ready(function() {
//     $('#example').DataTable( {
//         data: dataSet //,
//         // columns: [
//         //     { "data": "iat_id" },
//         //     { "data": "create_dt" },
//         //     { "data": "analyst" },
//         //     { "data": "iat_name" },
//         //     { "data": "summary_offices" },
//         // ]
//     } );
// } );
  </script>
</body>
</html>